
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
.env.*
/public/bundles
!/public/images
/public/images/*
!/public/images/user
/public/images/user/*

/var/
/vendor/
/nbproject
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/nbproject/private/

*.lock

*.orig
*-lock.*
