<div class="full header_pdf">
    <div class="row">
        <div class="col8 col-title uppercase">
            <h1 class="cl-blue1">
                {{header_title ? header_title : 'PDF TITLE'}}
            </h1>
        </div>
        <div class="col4 text-right">
            <img class="logopdf" src="{{absolute_url(asset('pdf/images/default/logopdf2.png'))}}">
        </div>
    </div>
</div>

